body {
    font-family: 'Montserrat';
}
#title {
    background-color: #ff4c68;
    color: #fff;
}
h1 {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 4rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 2% 8%;
}
 /* Navigation Bar */

 .navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 150;
 }
 .navbar {
    padding: 0 0 4.5rem;
    font-weight: 180;
 }
 .nav-item {
    font-size: 1.3rem;
    padding: 0 23px;
 }
 .dropdown-item {
    font-family: 'Montserrat';
    font-weight: 180;
    padding: 10px 18px;
    font-size: 1.3rem;
 }

 /* Download Buttons */
 .download-button{
    margin: 8% 3% 0 0;
 }

/* Title Image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/* Features Section */
#features {
    padding: 7% 12%;
}

.feature-icon {
    color: #ef8172;
    font-size: 5rem;
    margin: 6% 45%;
}
h3 {
    font-weight: bold;
}
p {
    font-size: 16px;
    color: #8f8f8f;
}
.feature-icon:hover {
    color: #ff4c68;
    padding-bottom: 1rem;
}
.feature-box{
    text-align: center;
    padding: 5%;
}

/* Testimonials Section */
#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: white;
}
h2 {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}
.press-logo{
    width: 15%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 12%;
}